<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Ana Sayfa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if session["logged_in"] %}
            {% if session["admin_logged_in"] %}
            
            {% else %}

            {% endif %}        
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/about">Hakkımızda <span class="sr-only">(current)</span></a>
          </li>
        {% endif %}
        
        {% if session["admin_logged_in"] %}
          <li class="nav-item active">
            <a class="nav-link" href="/joinevent">Etkinlikler</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/createevent">Etkinlik Oluştur</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/yoneticietkinlikler/{{session.admin_id}}">Etkinliklerim</a>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Etkinlikler
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/joinevent">Etkinliğe Katıl</a>
              {% if session["id"] %}
                <a class="dropdown-item" href="/sertifikalar/{{session.id}}">Sertifikalarım</a>
              {% endif %}
          </li>
        {% endif %}
    
        
        <li class="nav-item active">
          <a class="nav-link" href="/companies">Şirketler</a>
        </li> 
        
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if session["logged_in"] == True  %}
          {% if session["admin_logged_in"] %}
            <li class="nav-item active">
              <a class="nav-link" href="/adminprofile/{{session.admin_id}}">Yönetici Profili</a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/userprofile/{{session.id}}">Profilim</a>
            </li>
          {% endif %} 
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Çıkış Yap</a>
          </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 50px;">
            Giriş
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/userlogin">Kullanıcı Giriş</a>
            <a class="dropdown-item" href="/adminlogin">Yönetici Giriş</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 60px;">
            Kayıt Ol
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/userregister">Kullanıcı Kayıt</a>
            <a class="dropdown-item" href="/adminregister">Yönetici Kayıt</a>
          </div>
        </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="/login">Giriş</a>
          </li> -->
          <!-- <li class="nav-item active">
            <a class="nav-link" href="/userregister">Kayıt Ol</a>
          </li> -->
        {% endif %}
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>