{% extends "layout.html" %}
{% block body %}

<style>
            body{
                background-image: url('');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;   
                margin: 0;
                border: 0;
            }
            p{
                font-size: 20px;
            }
        </style>
        <h3 style="text-align:center;color:black">Hakkımızda</h3>
        <p>Bülent Emre <i>394752</i></p>
        <p>Onur Keskin <i>394790</i></p>
    </div>
   
 
{% endblock %}