{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<h3 style="color:rgb(253, 252, 252)">Yönetici Giriş Sayfası</h3>
<hr>

<style>
    body{
        background-image: url('https://pbs.twimg.com/card_img/1529043946088845314/5jR6GF7p?format=jpg&name=large');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;   
        margin: 0;
        border: 0;
    }
    form{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 150px;
    }
 </style>


<form method="post" style="margin-bottom: 10px;">
    
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}

    <button type="submit" class="btn btn-secondary">Giriş Yap</button>
    <a href="/yoneticisifreyenile">Şifemi Unuttum</a>
</form>



{% endblock %}