{% extends "layout.html" %}
{% block body %}
<style>
              body{
                background-image: url('https://d7rh5s3nxmpy4.cloudfront.net/temp/VngzQWlFc0J1RW89/US-000041_02.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;   
                margin: 0;
                border: 0;
            }
    #goruntule {
        background-image: linear-gradient(
          to right,
          #54b3d6,
          #54b3d6 50%,
          #000 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }
      
      #goruntule:before {
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      #goruntule:hover {
       background-position: 0;
      }
      
      #goruntule:hover::before {
        width:100%;
      }

</style>
<h3>Şirketler</h3>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Şirket Adı</th>
        <th scope="col">Şirket Adresi</th>
        <th scope="col">Yönetici</th>
        <th scope="col"></th>
      </tr>
    </thead>
    
    {% for sirket in sirketler %}
    
        <tbody>
        <tr>
            <td><b>{{sirket.company_name}}</b></td>
            <td><b>{{sirket.company_address}}</b></td>
            <td><b>{{sirket.company_authorized_person}}</b></td>
            <td><a href="/sirketgoster/{{sirket.company_id}}" class="btn btn-secondary" id="goruntule">Görüntüle</a></td>
        </tr>
        </tbody>
    {% endfor %}
  </table>
{% endblock %}