{% extends "layout.html" %}
{% block body %}
<style>
    body{
        background-image: url('https://wallpaperaccess.com/full/4952651.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;   
        margin: 0;
        border: 0;
    }
    h3{
        color:white;
    }
    textarea{
        margin-left: -15%;
    }
</style>
<h3>{{sirket.company_name}}</h3>
<div>
    <textarea name="" id="" cols="100" rows="30" readonly>
        {{sirket.company_description}}
    </textarea>
</div>
{% endblock %}